.with-top-margin {
    margin-top: 18px;
}
#releasePicker {
    display: none;
}
/*d3 rendering */
   .node {
        font: 300 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
        fill: #bbb;
    }

        .node:hover {
            fill: #000;
        }

    .link {
        stroke: steelblue;
        stroke-opacity: 0.4;
        fill: none;
        pointer-events: none;
    }

    .linkAdded {
        stroke: #2ca02c;
        stroke-width: 2px;
    }
    .linkDeleted {
        stroke: #d62728;
        stroke-width: 2px;
    }

    .node:hover,
    .node--source,
    .node--target {
        font-weight: 700;
    }

    .node--source {
        /*fill: #2ca02c;*/
        fill: #ff8800;
    }

    .node--target {
        /*fill: #d62728;*/
        fill: #65349c;
    }

    .link--source,
    .link--target {
        stroke-opacity: 1;
        stroke-width: 2px;
    }

    .newClass {
        fill: #2ca02c;
    }
    .deletedClass {
        fill: #d62728;
    }

    .link--source {
        /*stroke: #d62728;*/
        stroke: #65349c;
    }

    .link--target {
        /*stroke: #2ca02c;*/
        stroke: #ff8800;
    }

    .legend-green {
        color: #2ca02c;
        font-weight: bold;
        width: 200px;
    }

    .legend-red {
        color: #d62728;
        font-weight: bold;
        width: 200px;
    }

    .legend-orange {
        color: #ff8800;
        font-weight: bold;
        width: 200px;
    }

    .legend-purple {
        color: #65349c;
        font-weight: bold;
        width: 200px;
    }

    #legend-for-double-tree, #legend-for-single-tree {
        width: 960px;
        display: none;
        
    }
    .legend-table td {
        text-align: left;
    }
    #preloader_container {
        display: none;
    }
    #preloader_container img {
            margin-left: auto;
    margin-right: auto;
    display: inherit;
    }